{% extends "layout.html" %}
{% block content %}
<h1>Benvenuto nella dashboard, {{ user }}</h1>

<table class="table table-striped">  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Staff</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_staff }}</td>
        <td><a href="{% url 'delete_user' user.id %}" class=" btn btn-sm btn-danger">Elimina</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'logout' %}">Logout</a>  {% endblock content %}
