{% extends "layout.html" %} {% block content %}
<h1 class="text-center display-1 fw-bold">Register</h1>
<div class="container">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="row justify-content-center">
    <div class="col-md-7">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_username" class="form-label">Nome utente:</label>
          <input
            type="text"
            name="username"
            maxlength="150"
            autofocus
            required
            aria-describedby="id_username_helptext"
            id="id_username"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="id_email" class="form-label">Email:</label>
          <input
            type="email"
            name="email"
            maxlength="254"
            id="id_email"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="id_password1" class="form-label">Password</label>
          <input
            type="password"
            name="password1"
            autocomplete="new-password"
            required
            aria-describedby="id_password1_helptext"
            id="id_password1"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="id_password2" class="form-label">Ripeti Password</label>
          <input
            type="password"
            name="password2"
            autocomplete="new-password"
            required
            aria-describedby="id_password2_helptext"
            id="id_password2"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-primary" value="Register">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
